*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
}

#container-all{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo de la Navbar */
#header_container{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 15vh;
    align-items: center;
    display: flex;
}
.hamburger{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 50px;
    height: 50px;
    
    /* animación */
    -webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.hamburger.is-active{
    background-color: transparent;
    clip-path: circle();
}

._layer{
    background: #333333;
    margin: 5px;
    width: 40px;
    height: 3px;
    /* animacion */
    -webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}

/* Animación con un click */
.hamburger.is-active .-top{
	-webkit-transform:translateY(400%) rotate(45deg) !important;
	-ms-transform:translateY(400%) rotate(45deg) !important;
	transform:translateY(400%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
	opacity:0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-400%) rotate(135deg) !important;
	-ms-transform:translateY(-400%) rotate(135deg) !important;
	transform:translateY(-400%) rotate(135deg) !important;
}

.menuppal.is_active{
    background-color: transparent;
    transform: translate3d(0px, 0px, 0px);
    
  }
  .menuppal{
    background-color: rgba(255, 255, 255, 0.95);
    width: 100vw;
    height: 20vh;
    position: fixed; 
    display: flex;
    align-items: center;
    justify-content: flex-end;      
    overflow-y: scroll;
    transform: translate3d(-100%, 0%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    z-index: 1001;
  }

  .menuppal ul{
    margin: 10px;
    padding:0;
    display: flex;
  }
  .menuppal ul li { 
    display: flex;
    box-sizing: border-box;
    margin: 2px;
    list-style: none;
    text-transform:none;
  }
  .menuppal ul li a{
    display: flex;
    width: 40px; 
    height: 40px; 
    margin: 5px;
    text-decoration:none;
  }
  .menuppal ul li a:hover{
    text-decoration:none;
    color:#333;
  }

._img {
    width: 40px;   
}

/* Estilo del body */
body{
    /* Agregar la font que vamos a usar */
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    width: 100vw;
    height: 100vh;
    background-image: url(img/cool-background.png);
    background-size: cover;
    background-attachment: fixed;   
}

#page_container{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    width: 100vw;
    height: 85vh;
}

.container{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center; 
}

/* Estilos de la home page */
#logo-Yael{
    box-sizing: border-box;
    margin: 20px;
    display: flex;
    width: 150px;
}

h1, h2, h3, h4{
    display: flex;
    font-family: 'Turret Road', cursive;
    color: #370079;
    font-size: 1.5rem;
    margin: 5px;
}

.btnPage{
    width: 150px;
    height: 40px;
    box-sizing: border-box;
    margin: 10px;
    background: transparent;
    border-radius: 15px;
    border: double gray;
    display: flex;
    justify-content:center;
    align-items: center;
}

#btnAbout{
    text-decoration: none;
    font-family: 'Turret Road', cursive;
    color: #370079;
    font-size: 1.3rem;
}
/* Animacion de las letras */
#writeName{
    font-family: 'Inconsolata', monospace;
    color: white;
    font-size: 1.5rem;
    position: relative;

    width: 100%;
    height: 50px;

    display:flex;
    justify-content: center;
    align-items: center;

    -webkit-animation: randoms 5s infinite;
    animation: random 5s infinite;
 }

 @keyframes random{
     15% { color: #5C0489; }
     30% { color: yellow; } 
     45% { color: green; } 
     60% { color: blue; }
     75% { color: #BC2B38; }  
 }

 /* Estilo ABout Me Page */
 ._page{
     box-sizing: border-box;
     width: 100vw;
     height: 85vh;
     position: fixed;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }

    .avatar-container{
        display: flex;
        box-sizing: border-box;
        width:100%;
        height: 40%;
        justify-content: center;
        align-items: center;
    }

    #avatarYael{
        height: 125px;
        border-radius: 50%;
    }

    .information-container{
        display: flex;
        box-sizing: border-box;
        widows: 100%;
        height: 60%;
        padding: 5px;
        justify-content: flex-start;
        flex-direction: column;
        align-items:center;
    }

    ._page p{
        color: #fcefed;
        font-family: 'McLaren', cursive;
        text-align: justify;
        font-size: 1.1rem;
        margin: 10px;
    }

    #next-page{
        display: flex;
        box-sizing: border-box;
        margin: 10px;
    }

/* Estilos page Servicios */
.-services{
    width: 100px;
    margin: 5px;
}

/* Estilos Portafolios Page */
#img-portafolios{
    display: flex;
    align-self: center;
    width: 300px;
    margin: 20px;
}
    .icon-proyect{
        display: flex;
        width: 200px;
        clip-path: ellipse();
    }

/* Estilos Page Contacto */
#btn-gmail{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: none;
    background: transparent;
}
.img-rs{
    margin: 10px;
    width: 40px;
}

/* Estilos de la page Error */
#img-error404{
    display: flex;
    align-self: center;
    width: 300px;
    margin: 20px;
}

#formContact{
    box-sizing: border-box;
    width: 100vw;
    height: 80vh;
    border: solid 1px red;
    position: relative;
    float: inherit;
    z-index: 10;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.inputContacto{
    box-sizing: border-box;
    width: 320px;
    height: 50px;
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
}

#writeMail{
    box-sizing: border-box;
    width: 320px;
    height: 200px;
    text-align: justify;
    border-radius: 20px;
    padding: 10px;
}

#btnSend{
    display: flex;
    align-self: center;
    width: 60px;
    height: 20px;
}

/* Estilos Carousel */
.carousel{
    width: 100vw;
    height: 80vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  
    .slider-container{
      width: 100%;
      height: 90%;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
  
    }
        .slide{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          height: 100%;
        }
  
        .img-slides{
          width: 90%;
          border-radius: 70px;
          display: flex;
        }

        .text{
          display: flex;
          width: 100%;
          height: 10%;
          justify-content: center;
          font-size: 2rem;
          color: #023655;
          bottom: 20%;  
          /* align-self: end; */
        }
  
        .description{
          width: 100%;
          height: 20%;
          display:flex;
          justify-content: center;
          align-items: center;
          
        }

        .description a{
          box-sizing: border-box;
          text-decoration: none;
          margin: 0px 30px;
          font-size: 1.5rem;
          justify-self: end;
          position: relative;
          bottom: 5%;
        }
  
        .icon-code{
          width: 50px;
        }
  
        .prev, .next{   
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          background: #6C6CB4;
          border-radius: 50%;
          border: none;  
          cursor: pointer;
          position: absolute;
  
          /* Animation */
          transition: 0.6s ease;
          user-select: none;
          
        }
  
        .next{
          right: 0;
        }
  
        .prev{
          left: 0;
        }
  
        .prev:hover, .next:hover{
          background: #D7F2A9;
          border:none;
        }

        .slider-arrow{
          width: 30px;
        }
  
      
  
    
    
  /* Estilos de los dots */
    .center_x{
      width: 100%;
      height: 10%;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
    }
        .dot-nav{
          width: 20px;
          height: 20px;
          display: flex;
          border-radius: 50%;
          border: none;
          background: black;
          margin: 5px;
  
          transition: background-color 0.1s ease;
        }
        .dot-nav:hover{
          background-color: #6C6CB4;
        }
  
        .active-dot{
          background-color: #024F55;
        }
  
        /* Animation dot */
        .fade{
          /* -webkit-animation-name: fade;
          -webkit-animation-duration: 1.5s; */
          animation-name: fade;
          animation-duration: 2s;
        }
  
        /* @-webkit-keyframes fade{
          from {opacity: .4}
          to   {opacity: 1}
        } */
  
        @keyframes fade{
          from {opacity: .4}
          to   {opacity: 1}
        }